.myRoom {
  background-color: #1f2739;
  width: 100%;
  height: 100vh;
  padding: 2em;
  text-align: center;
}
.inputLabel {
  color: rgba(255, 181, 72, 1);
  padding-bottom: 1em;
}
.playerChoice {
  color: rgba(255, 181, 72, 1);
  margin-top: 4em;
}
input {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  width: 400px;
}
.choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em 0;
}
.choice > div {
  display: flex !important;
  align-items: center;
  max-width: 150px;
  margin-right: 5em;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.choice > div:hover {
  transform: scale(1.2);
}
