.containerPlayer {
  background-color: #1f2739;
  width: 100%;
  height: 100vh;
  padding: 2em;
  text-align: center;
}
.vs {
  color: #fb667a;
  font-weight: 600;
  font-size: 120px;
}
.innerPlayerCont {
  display: flex;
  justify-content: space-evenly;
}
.innerPlayerCont > div {
  margin-bottom: 1rem;
}
.player {
  display: flex;
  flex-direction: column;
}
img.rock,
img.papper {
  margin-bottom: 2rem;
}
img.rock,
img.papper,
img.scissors {
  cursor: pointer;
  transition: transform 0.5s ease;
}
img.rock:hover,
img.papper:hover,
img.scissors:hover {
  transform: scale(1.2);
}
