.registerBox {
  position: relative;
  width: 400px;
  padding: 20px 40px;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  height: 500px;
}
h3 {
  padding-bottom: 2rem;
}
button {
  margin-top: 1rem;
}
.titleContainer,
.buttonContainer {
  text-align: center;
}
