.container2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.innerContainer2 {
  height: 500px;
}
