h3 {
  font-family: "bebasneue";
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 2px;
  color: rgba(255, 181, 72, 1);
}
h4 {
  font-family: "bebasneue";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  color: rgba(255, 181, 72, 1);
}
.vsCom {
  background-color: black;
  padding: 1.2rem;
}
.container {
  max-width: 800px;
  padding: 2.3rem;
}
.roomContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
}
