input {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin: 5px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  color: white;
  border: none;
}
input:focus {
  outline: none;
}
