h4 {
  font-family: "bebasneue";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  color: rgba(255, 181, 72, 1);
}
p {
  font-size: 18px;
  color: white;
}
.singleRoom {
  background-color: #fb667a;
  padding: 2rem;
  color: black;
}
