.gameHisContainer {
  font-weight: 300;
  color: #a7a1ae;
  background-color: #1f2739;
  width: 100%;
  height: 100vh;
  padding: 2em;
}
.gameHisTitle {
  text-align: center;
}
table th,
table td {
  padding: 0.25em 0.5em;
  text-align: left;
  line-height: 1.7em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
table th:nth-child(2),
table td:nth-child(2) {
  text-align: right;
}
table th {
  background-color: #fb667a;
  color: #fff;
}
.zigzag {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 6em 0;
}
.zigzag tbody tr:nth-child(odd) {
  transform: rotate(1deg);
  background-color: #323c50;
}
.zigzag thead tr,
.zigzag tbody tr:nth-child(even) {
  transform: rotate(-1deg);
  background-color: #2c3446;
}
