@font-face {
  font-family: "bebasneue";
  src: url(./components/fonts/BebasNeue-Regular.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
}
